<h1>Edit Your Photo</h1>

<form action="http://localhost:3000/photos/:id/edit">

  <label>Caption:</label>
  <input type="text" name="the_caption_new" value = "Original Caption">

  <label>Image URL:</label>
  <input type="text" name="the_source_new" value = "Original URL">

  <button>Update Photo</button>

</form>
